body {
    margin: 0;
    padding: 0;
    background-color: #2190ff;
    height: 70vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
}


.message {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
   margin-bottom: 20px;
   margin-top: 100px;
   animation: slideDown 1.5s ease-out;
}


a{
width: auto;
height: 100px;
margin-top: 100px;
animation: slideDown 1.5s ease-out;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
