h1.conhecer{
    background-image: url(../img/1.jpg);
        background-size: 100%;
        height: 900px;
        background-repeat: no-repeat;
        font-size: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
}

main{
    background-color: #004aad;
    text-align: center;
    color: white;
    font-size: 20px;
}